.navParent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 4vh;
    margin: 5px 20px;
}

.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 98%;
    height: 100%;
    list-style: none;
    padding: 0;
}

.links{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.listItem{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    /* margin: 0 10px; */
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    /* margin: 0 10px; */
}


