@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Inter:wght@400;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
}

.fixedHeader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .App{
  display: flex;
  flex-direction: column;
} */

.heroSection {
  position: relative;
  top: 30vh;
  padding: 10px;
  margin: 0 20px;
  height: max-content;
  /* width: 80%; */
  background-color: #d9d9d9;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.img-fluid {
  width: 600px;
}

.text-fluid {
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 768px) {
  .fixedHeader {
    width: 100vw;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    height: 30vh;
    /* background-color: aqua; */
  }

  .img-fluid {
    width: 70vw;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* background-color: #fff; */
  padding: 10px;
  text-align: center;
}

.card-content h3 {
  margin: 10px 0px;
  font-size: 18px;
  color: #04bcff;
}

.card-content p {
  word-wrap: normal;
  margin: 10px 0px;
  font-size: 14px;
  color: #000;
}

.card-content a {
  text-decoration: none;
  margin: 10px 0px;
  font-size: 14px;
  color: rgb(20, 39, 203);
}

.card-content a:hover {
  text-decoration: underline;
}
